#rodape{
    background-image: url(../img/rodape.jpg);
    height: 300px;

    background-repeat: repeat-x;
    min-height: 204px;
    min-width: 1263px;
    margin-left:-200px;
   
    list-style:none;
}

